<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!-- [UI Reactiva]: Consumo de Computed Signals para enlazar propiedades dinámicamente -->
    <ion-button 
      class="cta-button" 
      [color]="buttonColor()"
      (click)="toggleAffiliation()">
      {{ buttonText() }}
    </ion-button>

    <!-- [Renderizado Condicional]: Uso de Signal derivado para la visibilidad -->
    <ion-button 
      *ngIf="showReferral()"
      class="referral-button"
      color="secondary">
      Invitar amigos
    </ion-button>
  </div>
</ion-content>
