<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!-- [UI Reactiva]: Consumo de Computed Signals para enlazar propiedades dinámicamente -->
    <ion-button 
      class="cta-button" 
      [color]="buttonColor()"
      [class.is-pending]="affiliationState() === 'pending'"
      (click)="toggleAffiliation()">
      {{ buttonText() }}
    </ion-button>

    <!-- [Control Flow Moderno]: Delegación de la lógica condicional estructural a Angular (@if) -->
    @if (showReferral()) {
      <ion-button 
        class="referral-button"
        color="secondary">
        Invitar amigos
      </ion-button>
    }
  </div>
</ion-content>
